@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$NavdarkBlue: #191828;
$Navgray: #A6A5A1;
$NavBlue: rgba(12, 74, 108, 0.87);
$white: #F9F9F9;
$yellow: #C2B04C;
$red: #8D182B;

$playFair: 'Playfair Display',sans-serif;
$notoSans: 'Noto Sans TC', 'Playfair Display',sans-serif;
$roboto: 'Roboto', sans-serif;

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html, body {
  font-family: 'Noto Sans TC', 'Playfair Display',sans-serif;
  font-size: 20px;
  background-color: $white;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

@media screen and (min-width: 1600px) {
  body {
    display: flex;
    justify-content: center;
  }

  header, main { width: 1600px; }
}

@media screen and (max-device-width: 480px){
    body{
    -webkit-text-size-adjust: none;
    }
}

li { list-style: none; }
hr { margin: 0; }
a {
  color: #fff;
  text-decoration: none;
}

nav, footer, header, main {
  max-width: 1600px;
}

// Navbar

@keyframes zoom {
  0%, 100% { transform: scale(1);}

  50% { transform: scale(1.1);}
}

// web
nav {
  width: 100%;
  height: 81px;
  background: $NavdarkBlue;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 1;

  img {
    margin-left: 35px;
    width: 60px;
  }

  ul {
    display: flex;
    color: #fff;

    .selectDiv {
			padding: 11px 35px;

			&:hover {
        background-color: $NavBlue;
      }
		}

    li { cursor: pointer;}

    > li {
      letter-spacing: 0.085em;
      position: relative;

      p {
        font-family: $playFair;
        font-size: 24px;
        margin: 0;
        margin-bottom: -5px;
        cursor: pointer;

        .tri {
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 15.6px 9px 0 9px;
          border-color: #ffffff transparent transparent transparent;
          display: inline-block;
          margin-left: 4px;
          margin-bottom: -3px;
        }
      }

      span {
        font-family: $notoSans;
        font-size: 14px;
      }

      .insideUl {
        position: absolute;
        top: 78px;
        left: 0;
        background-color: #fff;
        border: 1px solid #205776;
        display: flex;
        flex-direction: column;
        padding: 0;
        width: 191px;
        visibility: hidden;

        .insideEng { display: none; }

        .insideTri {
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 7.5px 0 7.5px 13.0px;
          border-color: transparent transparent transparent #1F2533;
          position: absolute;
          top: 22px;
          right: 17px;
        }

				li {
					margin: 0;
					&:last-child span { padding-bottom: 24px; }

					span {
						display: block;
	          color: #000;
	          font-size: 18px;
						padding: 15px 0 0 38px;
	          transition: all 0.04s ease;
					  position: relative;

	          &:hover {
	            background-color: transparent;
	            color: $NavBlue;
	          }
	        }

					.deepUl {
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 10px;
            right: -160px;
            padding: 0;
            background-color: #fff;
            border: 1px solid #205776;
            width: 154px;
            visibility: hidden;

						li {
	            span {
								padding: 11px 0 0 19px;
							}
							#deepUlAdvanced { padding: 15px 0 9px 19px; }
						}

          }
          &:hover ul  {
            visibility: visible;
          }
				}
      }

      &:hover ul  {
        visibility: visible;
      }
    }

    li:last-child {
      margin-right: 15px;
    }

		#deepIcon { display: none;}
  }
}


// mobile
@media screen and (max-width: 1000px) {

  nav {
    height: 56px;
    position: relative;

    a { color: #000; }

    img {
      width: 46.51px;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
    }

    .full-menu {
      background-color: $white;
      position: fixed;
      height: 100vh;
      width: 100vw;
      top: 0;
      right: 0;
      transition: all 0.5s linear;
      overflow: auto;
      margin-right: -100vw;
    }

    .menu-actcive {
      margin-right: 0;
    }

    ul {
      padding: 0;
      margin: 0;
      position: absolute;
      top: 56px;
      left: 42px;
      color: #000;
      display: flex;
      flex-direction: column;

      .selectDiv {
				padding: 0;
				&:hover { background-color: inherit;; }
			}

      > li {
        padding: 0;
        opacity: 0;

        p {
          margin: 0;
        .tri {
          border-width: 9px 0 9px 15.6px;
          border-color: transparent transparent transparent #C4C4C4;
        }}

        span { display: block; }

        &:nth-child(1) { transition: all 0.5s ease-in-out 0.5s; }
        &:nth-child(2) { transition: all 0.5s ease-in-out 0.6s; }
        &:nth-child(3) { transition: all 0.5s ease-in-out 0.7s; }
        &:nth-child(4) { transition: all 0.5s ease-in-out 0.8s; }
        &:nth-child(5) { transition: all 0.5s ease-in-out 0.9s; }
        &:not(:first-child) { padding-top: 35px; }

        .insideUl {
          top: -10px;
          background-color: $Navgray;
          border: none;
          padding: 0;
          width: auto;
          visibility: visible;
					margin-left: 25px;

          .insideEng, span {
            color: #fff;
						letter-spacing: 0.04em;
            margin: 0;
          }

          .insideEng {
            display: block;
            font-size: 24px;
            font-family: $playFair;
            position: relative;
						margin-top: 35px;

            &:not(:first-child) {
            }

            .mobileTri {
              display: block;
              width: 0;
              height: 0;
              border-style: solid;
              border-width: 9px 0 9px 15.6px;
              border-color: transparent transparent transparent #E5E5E5;;
              position: absolute;
              top: 10px;
              right: -21.6px;
            }

            .upperTri {
              right: 63px;
            }
          }

          .insideTri {
            display: none;
          }
					.active { opacity: 1;}

          li {
						opacity: 0;
						transition: all 0.04s ease;
						padding: 0;

						&:nth-child(1) { transition: all 0.5s ease-in-out 0.3s; }
		        &:nth-child(2) { transition: all 0.5s ease-in-out 0.4s; }
		        &:nth-child(3) { transition: all 0.5s ease-in-out 0.5s; }
		        &:nth-child(4) { transition: all 0.5s ease-in-out 0.6s; }

					  span {
	            font-size: 14px;
	            font-family: $notoSans;
	            padding: 0;
							color: #fff;
							position: static;

							&:hover {
	              color: #fff;
	            }
						}

            .deepUl {
							text-align: center;
              top: 90px;
              left: 50%;
              transform: translateX(-50%);
              background-color: $Navgray;
              border: none;
              visibility: visible;

              .deepEng, span { letter-spacing: 0.085em; }
							li {
								span { padding: 0; }
								#deepUlAdvanced { padding: 0; }
							}

            }
          }
        }
      }

				#deepIcon {
					display: block;
					i {
						position: absolute;
						top:25px;
						left: 42px;
						font-size: 24px;
						color: #fff;
					}

					span {
						position: absolute;
						top: 15px;
						right: 42px;
						font-size: 24px;
					}
				}

        .insideMenu, .deepMenu {
          width: calc( 100vw - 59px );
          height: 100vh;
          background-color: $Navgray;
          position: fixed;
          top: 0;
          right: 0;
          z-index: 1;
          margin-right: -100vw;
          transition: all 0.3s ease;

          .transparent, .insideTransparent {
            width: 59px;
            height: 100vh;
            background-color: transparent;
            position: fixed;
            margin-left: -59px;
          }
        }

        .insideMenu-active, .deepMenu-active {
          margin-right: 0;
        }
      }
    }

    .active { opacity: 1; }

  /* SET BASIC CONTENT AND ANIMATION EFFECT- HAMBURGUER MENU */
  .hamburger {
    width: 35px;
    margin: 0;
    cursor: pointer;
    position: absolute;
		top: 18.14px;
    right: 25.62px;

    &:hover {
      animation: zoom 300ms ease-in;
    }
  }

  .lines {
    background-color: #fff;
    width: 100%;
    height: 4.76px;
    border-radius: 30px;
    transition: all 450ms ease-in;

    &:not(:first-child) { margin-top: 2.75px; }
  }

  /* SET ANIMATION EFFECT - HAMBURGUER MENU CLOSED */

  .close-hamburger {
    position: fixed;
		top: 15px;
    right: 25.62px;

    .lines {
      cursor: pointer;
      background-color: #000;
    }

    .line-top { transform: translateY(100%) rotate(45deg);}

    .line-mid { opacity: 0;}

    .line-bottom { transform: translateY(-200%) rotate(135deg);}
  }
}



// footer
// web
footer {
  display: flex;
  justify-content: space-evenly;
  font-family: $playFair;
  height: 179px;
  border-top: 1px solid #DCDCDC;
  background: #F9F9F9;

  > .copyright { display: none; }
  .copyright {
    color: #a5a5a5;
    font-family: $roboto;
  }

  .leftFooter, .rightFooter{
    text-align: center;
    height: 100%;

    .copyright { padding-top: 5px; }
  }

  .leftFooter h2 {
    margin: 0;
    padding: 0;
    font-size: 64px;
    margin-top: 15px;
  }

  .rightFooter i:not(:last-child) { margin-right: 55px; }

  .la-line, .la-facebook, .la-instagram {
    font-size: 72px;
    line-height: 72px;
    margin-top: 27.5px;
    cursor: pointer;
  }

  .la-line { color: #00C300; }
  .la-facebook { color: #3B5998; }
  .la-instagram { color: #C13584; }

  p {
    font-family: $notoSans;
    margin: 0;
    margin-top: 10px;
    font-size: 24px;
  }

  span {
    font-size: 14px;
    letter-spacing: 0.03em;
    display: block;
    margin: 0;
   }

  .koDesign {
    font-size: 18px;
    letter-spacing: 0.02em;
    margin-top: 15px;
   }
}

.hamburger-footer { display: none; }


// mobile
@media screen and (max-width: 1000px) {
  footer {
    height: 85px;
    position: relative;

    > .copyright {
      display: block;
      position: absolute;
      bottom: 1px;
			left: 50%;
			transform: translateX(-50%);
    }

    .leftFooter { display: none; }

    .la-line, .la-facebook, .la-instagram {
      font-size: 36px;
      line-height: 36px;
      margin-top: 3px;
    }

    .rightFooter i:not(:last-child) { margin-right: 25px; }

    span {
      font-family: $roboto;
      font-size: 8px;
      margin-top: 6px;
    }

    .koDesign {
      font-size: 14px;
      margin-top: 3px;
    }
  }

}




// LandingPage
// web

.sloganSec, .lectureInfo p, .handBar p, .digitalBar p, .tellMeTime p { font-size: 36px; }
.aboutSec p { font-size: 48px; }
.aboutSec span, .dateInfo span {
  font-size: 24px;
  display: block;
}
.dateInfo li, button { font-size: 24px; }

header {
  padding-top: 81px;

  .sloganSec {
    position: relative;

    img {
      max-height: 1280px;
      height: calc( 100vh - 81px );
    }

    p { margin: 0; }

    .slogan, .getIn {
      position: absolute;
      padding: 0;
      margin: 0;
    }
    .slogan {
      top: 38vh;
      right: 115px;
      width: 595px;
      letter-spacing: 0.05em;

      p:last-child {
      position: absolute;
      top: 70px;
      right: 0;
     }
    }

    .getIn {
      top: 60.6vh;
      right: 115px;
      color: #C2B04C;
      cursor: pointer;

      i {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -86px;
        font-size: 80px;
      }
    }

    // .glow {
    //   position: absolute;
    //   top: 34.6%;
    //   left: calc( 81px - ( 900px - 155vh) / 7.7 );
    // }
    //
    // .glow div{
    //   width: 2.5px;
    //   height: 9vh;
    //   background: #ddd;
    //   position: absolute;
    //   top: 0;
    //   opacity:0.05;
    //   -webkit-animation: fadeit 0.15s linear infinite;
    //   -moz-animation: fadeit 0.15s linear infinite;
    //   animation: fadeit 0.15s linear infinite;
    //
    //   &:nth-child(1){
    //    -webkit-transform: rotate(0deg) translate(0, 6vh);
    //    -moz-transform: rotate(0deg) translate(0, 6vh);
    //    transform: rotate(0deg) translate(0, 6vh);
    //
    //    -webkit-animation-delay:1.1s;
    //    -moz-animation-delay:1.1s;
    //    animation-delay:1.1s;
    //
    //    width: 6px;
    //   }
    //
    //   &:nth-child(2){
    //    -webkit-transform: rotate(45deg) translate(0, 8vh);
    //    -moz-transform: rotate(45deg) translate(0, 8vh);
    //    transform: rotate(45deg) translate(0, 8vh);
    //
    //    -webkit-animation-delay:1.2s;
    //    -moz-animation-delay:1.2s;
    //    animation-delay:1.2s;
    //   }
    //
    //   &:nth-child(3){
    //    -webkit-transform: rotate(90deg) translate(0, 8vh);
    //    -moz-transform: rotate(90deg) translate(0, 8vh);
    //    transform: rotate(90deg) translate(0, 8vh);
    //
    //    -webkit-animation-delay:1.3s;
    //    -moz-animation-delay:1.3s;
    //    animation-delay:1.3s;
    //   }
    //
    //   &:nth-child(4){
    //    -webkit-transform: rotate(135deg) translate(0, 8vh);
    //    -moz-transform: rotate(135deg) translate(0, 8vh);
    //    transform: rotate(135deg) translate(0, 8vh);
    //
    //    -webkit-animation-delay:1.4s;
    //    -moz-animation-delay:1.4s;
    //    animation-delay:1.4s;
    //   }
    //
    //   &:nth-child(5){
    //    -webkit-transform: rotate(180deg) translate(0, 10vh);
    //    -moz-transform: rotate(180deg) translate(0, 10vh);
    //    transform: rotate(180deg) translate(0, 10vh);
    //
    //    -webkit-animation-delay:0.7s;
    //    -moz-animation-delay:0.7s;
    //    animation-delay:0.7s;
    //   }
    //
    //   &:nth-child(6){
    //    -webkit-transform: rotate(225deg) translate(0, 10vh);
    //    -moz-transform: rotate(225deg) translate(0, 10vh);
    //    transform: rotate(225deg) translate(0, 10vh);
    //
    //    -webkit-animation-delay:0.8s;
    //    -moz-animation-delay:0.8s;
    //    animation-delay:0.8s;
    //   }
    //
    //   &:nth-child(7){
    //     -webkit-transform: rotate(270deg) translate(0, 10vh);
    //     -moz-transform: rotate(270deg) translate(0, 10vh);
    //     transform: rotate(270deg) translate(0, 10vh);
    //
    //     -webkit-animation-delay:0.9s;
    //     -moz-animation-delay:0.9s;
    //     animation-delay:0.9s;
    //   }
    //
    //   &:nth-child(8){
    //     -webkit-transform: rotate(315deg) translate(0, 6vh);
    //     -moz-transform: rotate(315deg) translate(0, 6vh);
    //     transform: rotate(315deg) translate(0, 6vh);
    //
    //     -webkit-animation-delay:1s;
    //     -moz-animation-delay:1s;
    //     animation-delay:1s;
    //   }
    //
    //   &:nth-child(9){
    //     -webkit-transform: rotate(30deg) translate(0, 5vh);
    //     -moz-transform: rotate(30deg) translate(0, 5vh);
    //     transform: rotate(30deg) translate(0, 5vh);
    //
    //     -webkit-animation-delay:0.95s;
    //     -moz-animation-delay:0.95s;
    //     animation-delay:0.95s;
    //   }
    //
    //   &:nth-child(10){
    //     -webkit-transform: rotate(70deg) translate(0, 5vh);
    //     -moz-transform: rotate(70deg) translate(0, 5vh);
    //     transform: rotate(70deg) translate(0, 5vh);
    //
    //     -webkit-animation-delay:1.25s;
    //     -moz-animation-delay:1.25s;
    //     animation-delay:1.25s;
    //
    //     background: #aaa;
    //   }
    //
    //   &:nth-child(11){
    //     -webkit-transform: rotate(110deg) translate(0, 5vh);
    //     -moz-transform: rotate(110deg) translate(0, 5vh);
    //     transform: rotate(110deg) translate(0, 5vh);
    //
    //     -webkit-animation-delay:1.35s;
    //     -moz-animation-delay:1.35s;
    //     animation-delay:1.35s;
    //
    //     background: #aaa;
    //   }
    //
    //   &:nth-child(12){
    //     -webkit-transform: rotate(150deg) translate(0, 5vh);
    //     -moz-transform: rotate(150deg) translate(0, 5vh);
    //     transform: rotate(150deg) translate(0, 5vh);
    //
    //     -webkit-animation-delay:1.45s;
    //     -moz-animation-delay:1.45s;
    //     animation-delay:1.45s;
    //
    //     width: 6px;
    //   }
    //
    //   &:nth-child(13){
    //     -webkit-transform: rotate(200deg) translate(0, 4vh);
    //     -moz-transform: rotate(200deg) translate(0, 4vh);
    //     transform: rotate(200deg) translate(0, 4vh);
    //
    //     -webkit-animation-delay:0.75s;
    //     -moz-animation-delay:0.75s;
    //     animation-delay:0.75s;
    //   }
    //
    //   &:nth-child(14){
    //     -webkit-transform: rotate(260deg) translate(0, 4vh);
    //     -moz-transform: rotate(260deg) translate(0, 4vh);
    //     transform: rotate(260deg) translate(0, 4vh);
    //
    //     -webkit-animation-delay:0.85s;
    //     -moz-animation-delay:0.85s;
    //     animation-delay:0.85s;
    //   }
    //
    //   &:nth-child(15){
    //     -webkit-transform: rotate(300deg) translate(0, 5vh);
    //     -moz-transform: rotate(300deg) translate(0, 5vh);
    //     transform: rotate(300deg) translate(0, 5vh);
    //
    //     -webkit-animation-delay:0.95s;
    //     -moz-animation-delay:0.95s;
    //     animation-delay:0.95s;
    //   }
    //
    //   &:nth-child(16){
    //     -webkit-transform: rotate(345deg) translate(0, 6vh);
    //     -moz-transform: rotate(345deg) translate(0, 6vh);
    //     transform: rotate(345deg) translate(0, 6vh);
    //
    //     -webkit-animation-delay:1.05s;
    //     -moz-animation-delay:1.05s;
    //     animation-delay:1.05s;
    //   }
    // }
    //
    // .glow .darkGrayLine { background: #b8b8b8; }
    //
    // @-webkit-keyframes fadeit{
    //  0%{
    //       opacity:1;
    //  }
    //  100%{
    //       opacity:0;
    //  }
    // }
    // @-moz-keyframes fadeit{
    //  0%{
    //       opacity:1;
    //  }
    //  100%{
    //       opacity:0;
    //  }
    // }
    // @keyframes fadeit{
    //  0%{
    //       opacity:1;
    //  }
    //  100%{
    //       opacity:0;
    //  }
    // }
  }
}

main {
  .aboutSec {
    margin: 205px 141px 0 141px;
    padding-top: 130px;

    p {
      font-family: $playFair;
      margin-bottom: 35px;
    }

    span { letter-spacing: 0.08em; }

    #moreBtn { font-size: 30px; }
  }

  button {
    font-family: $playFair;
    position: relative;
    display: block;
    margin: 91px auto 262px auto;
    width: 178px;
    height: 67px;
    background: #fff;
    border-radius: 6px;
    border: #fff;
    cursor: pointer;
    -webkit-box-shadow: 4px 4px 12px -2px rgba(20%,20%,40%,0.5);
	  -moz-box-shadow: 4px 4px 12px -2px rgba(20%,20%,40%,0.5);
	  box-shadow: 4px 4px 12px -2px rgba(20%,20%,40%,0.5);
    overflow: hidden;

    &:after {
      content: '';
      padding: 0;
      height: 400%;
      background-color: $white;
      border-left: 50% solid #eee;
      display: block;
      position: absolute;
      top: -400%;
      left: -20%;
      transform: rotate(30deg);
      transition: all 0.7s ease;
      border: 8px solid #eee;

    }
    &:hover:after {
      left: 100%;
      top: 100%;
    }
  }

  .lectureInfo {
    display: flex;

    img {
      width: 46vw;
      margin-left: 55px;
    }

    p {
      margin: 279px 0 0 176px;
      letter-spacing: 0.05em;
    }
  }

  .dateInfo {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    position: relative;

    .handBlock, .digitalBlock { width: 615px; }

    .digitalBar, .handBar {
      margin: 0;
      padding: 45px 0;
      position: relative;
      -webkit-box-shadow: 4px 4px 12px -2px rgba(20%,20%,40%,0.5);
      -moz-box-shadow: 4px 4px 12px -2px rgba(20%,20%,40%,0.5);
      box-shadow: 4px 4px 12px -2px rgba(20%,20%,40%,0.5);
      overflow: hidden;

      p {
        margin: 0;
        position: relative;
        letter-spacing: 0.05em;
      }

      &:after {
        content: '';
        padding: 0;
        height: 400%;
        background-color: $white;
        display: block;
        position: absolute;
        top: -400%;
        left: -20%;
        transform: rotate(30deg);
        transition: all 0.7s ease;
        border: 20px solid #eee;
      }
      &:hover:after {
        left: 100%;
        top: 100%;
      }
    }

    .handBar {
      border-radius: 30px 0 0 30px;
      width: 540px;
      padding-left: 75px;
    }

    .digitalBar {
      margin-top: 476px;
      border-radius: 0 30px 30px 0;
      width: 540px;
      text-align: right;
      padding-right: 75px;
    }

    .date {
      position: relative;
      width: 350px;

      span {
        margin-top: 60px;
        line-height: 36px;
        letter-spacing: 0.08em;
      }

      ul {
        margin: 0;
        padding: 0;

        li {
          width: 371px;
          position: relative;
          margin-left: 39px;
          line-height: 46.5px;
          letter-spacing: 0.03em;

          &:first-child { margin-top: 10px; }
        }
//
        img {
          position: absolute;
          top: 10px;
          margin-left: -39px;
          width: 30px;
        }
      }

      button { margin: 50px 0 0 139px; }
    }

    .digitalDate {
      margin-left: 214px;
    }
  }

  .tellMeTime {
    text-align: center;
    position: relative;

    p {
      margin: 0;
      margin-top: 100px;

      &:first-child { margin-top: 250px; }
    }

    button { margin-top: 100px; }
  }

}

// tablet
@media screen and (max-width: 1280px) {
  .sloganSec { font-size: 30px; }
  .aboutSec p { font-size: 36px; }

  header {
    .sloganSec {
      .slogan {
        right: 80px;
        width: 450px;

        p:last-child {
        top: 60px;
        right: 0;
       }
      }

      .getIn {
        top: 58.6vh;
        right: 80px;

        i {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: -75px;
          font-size: 70px;
        }
      }
    }
  }
main {
    .dateInfo {
      margin-top: 40px;
      flex-wrap: wrap;

      .digitalBlock { width: 100vw;}
      .digitalBar { margin-top: 100px; }

    }
  }
}

@media screen and (max-width: 1000px) {
  header {
    padding-top: 0px;

    .sloganSec {
      img {
        height: calc( 100vh - 56px );
      }

      .slogan, .getIn {
        position: relative;
        top: 0;
        left: 0;
        margin: 0 auto;
      }

      .slogan {
        margin-top: 60px;
        width: 450px;

        p:last-child {
        top: 50px;
       }
      }

      .getIn {
        top: 70px;
        width: 413px;
        padding-left: 37px;

        i {
          left: 0px;
          font-size: 40px;
        }
      }
    }
  }
  main{
    .lectureInfo {
      p {
        font-size: 30px;
        margin: 200px 0 0 100px;
      }
    }

  }
}

// header
// mobile
@media screen and (max-width: 675px) {
  .sloganSec, .lectureInfo p { font-size: 20px; }
  .aboutSec p { font-size: 36px; }
  .handBar p, .digitalBar p { font-size: 24px; }
  .dateInfo li, .dateInfo span, .aboutSec span, .tellMeTime p,  button  { font-size: 20px; }

  header {

    .sloganSec {
      img {
        height: auto;
        width: 100%;
      }

      .slogan {
        margin-top: 16px;
        width: 298px;

        p:last-child {
        top: 35px;
       }
      }

      .getIn {
        top: 55px;
        width: 261px;
      }
    }
  }
  main {
    .aboutSec {
      margin: 200px 22px 0 22px;
      padding-top: 30px;

      p { margin-bottom: 15px; }
      #moreBtn { font-size: 24px; }
    }

    button {
      margin: 51px auto 200px auto;
      width: 128px;
      height: 48px;
    }

    .lectureInfo {
      img {
        width: 100vw;
        margin: 0;
      }
      p { display: none; }
    }

    .dateInfo {
      margin-top: 40px;

      .digitalBlock { width: 100vw; }
      .handBlock { width: 375px; }

      .digitalBar, .handBar { padding: 15px 0; }

      .handBar {
        border-radius: 6px 0 0 6px;
        width: 235px;
        padding-left: 50px;
        position: absolute;
        right: 0;
      }

      .digitalBar {
        border-radius: 0 6px 6px 0;
        width: 235px;
        text-align: right;
        padding-right: 50px;
      }

      .date {
        // width: 100vw;

        span { margin: 91px 0 0 45px; }
        #digitalSpan { margin-top: 25px; }

        ul {
          margin-left: 13px;

          li {
            width: calc( 90vw - 39px);
            margin-left: 30px;
            line-height: 39.6px;
            white-space: wrap;

            &:first-child { margin-top: 15px; }
          }
//
          img {
            width: 25px;
            margin-left: -30px;
          }
        }

        button {
          margin: 51px auto 0 auto;
          white-space: nowrap;
        }
      }

      .digitalDate {
        margin-left: 0;
      }
    }

    .tellMeTime {
      width: 258px;
      margin: 0 auto 0 auto;

      #comma { display: none;}

      p { line-height: 40px; }
      p:first-child { margin-top: 100px; }
      span { display: block; }

      button { margin: 45px auto 100px auto; }
    }
  }
}

@media screen and ( max-width: 480px) {
  main .dateInfo {
      .date { width: 100vw;}
      .handBlock { width: 100vw;
    }
  }
}



// allPages
// web
#aboutPage, #BeginnerHandCoursePage, #freelancePage, #porfolioPage, #blogPage {
  max-width: 1600px;
  text-align: center;
  button {
    width: 178px;
    height: 67px;
    border-radius: 10px;
    border: 1px solid #FFFFFF;
    letter-spacing: 0.03em;
    font-size: 24px;
    font-family: $notoSans;
		white-space: nowrap;
  }

  header {
    height: calc(100vh - 280px);
    padding-top: 280px;
    margin-bottom: 209px;

    h1 {
      font-size: 72px;
      font-family: $playFair;
    }
    p {
      font-size: 36px;
      font-family: $notoSans;
			letter-spacing: 0.12em;
    }
  }

  main {
    .listBlock { margin-bottom: 250px; }
		h2 {
			text-align: center;
			font-size: 180px;
			margin-top: -378px;
			margin-bottom: 50px;
			line-height: 165.69%;
			font-family: $playFair;
			letter-spacing: 0.205em;
		}
    h3 {
      font-size: 36px;
      letter-spacing: 0.03em;
    }

    li {
      position: relative;
      font-size: 24px;
      text-align: left;
      margin: 15px auto 0 auto;
      letter-spacing: 0.03em;
      padding-left: 39px;

      &:first-child { margin-top: 35px; }
    }
    .diamond {
      position: absolute;
      top: 5px;
      margin-left: -39px;
      width: 30px;
    }

		.signUp {
			width: 100%;
			height: 767px;

			div {
				margin-left: 30px;
				margin-right: 30px;

				input {
					margin-left: 31px;
					margin-right: 31px;
					height: 45px;
					width: 314px;
					font-size: 20px;
					&:nth-child(3) { width: 525px; }
					&:nth-child(6) { width: 525px; }
				}
			}

			.textarea {
				width: 1279px;
				height: 353px;
				margin-top: 44px;
			}
		}
  }
}

// aboutPage
#aboutPage {
  main {
    .andrea {
      h3 { font-family: $playFair; }
      li { width: 618.95px; }
    }

    .whyChose li { width: 380px; }

    .designSec {
      margin: 0 27px;
      h3 { margin-bottom: 15px;
        > span { font-family: $playFair; }
      }
      .designSecSpan { display: block; }
      div { margin-top: 50px; }

      img {
        width: calc(25% - 30px);
        margin: 0 15px 20.61px 15px;
      }
    }

    .getCase {
      margin-top: 229.4px;
      margin-bottom: 200px;
      h3 > span { font-family: $playFair; }
      h3 { margin-bottom: 50px; }

      .freelanceImg {
        position: relative;

        img { width: 100%; }

        .fadeIn {
          position: absolute;
          top: 0;
          height: 99%;
          background: rgba(0, 0, 0, 0.45);

          span {
            display: block;
            text-align: left;
            margin-top: 271px;
            margin-left: 118px;
            margin-right: 118px;
            line-height: 36px;
            letter-spacing: 0.05em;
            font-size: 24px;
            color: #fff;
          }
          button {
            background-color: transparent;
            box-shadow: 0 1px 8px #fff;
            color: #fff;
            text-shadow: 0 3px 15px #fff;
            margin-top: 100px;
						width: 281px;
          }
        }
      }
    }

    .aboutPageLastBtn {
      button {
        margin: 0 44px 200px 44px;
        display: inline;
				width: 281px;
      }
    }
  }
}

#BeginnerHandCoursePage {
  main {
    .listBlock { margin-bottom: 341px; }

		.parallax {
			position: relative;
			width: 423px;
			top: -241px;
			margin-left: 55.4%;

			div {
				position: absolute;
				height: 70%;
				top: 25px;
				left: 0;
				right: 0;
				overflow: hidden;
				border-radius: 50%;

				p {
					font-size: 18px;
					color: rgba(74, 74, 74, 0.95);
					text-align: left;
					margin: 0 auto;
				}
			}
    }

    .suitFor {
			li { width: 421px; }
			+ .parallax p {
				width: 259px;
				margin-top: 200px;
			}
		}
		.learnWhat {
			li { width: 424.75px; }
			+ .parallax p {
				width: 294px;
				margin-top: 420px;
			}
		}
		.whyChose {
			li { width: 371px; }
			+ .parallax p {
				width: 298px;
				margin-top: 570px;
			}
		}

		.student {
			+ .parallax p {
				width: 264px;
				margin-top: 820px;
			}
		}

		.classInfo {
			+ .parallax p {
				width: 204px;
				margin-top: 1150px;
			}
		}

		.student {
			display: flex;
			justify-content: center;
			margin-left: 20px;
			margin-right: 20px;
			div {
				width: calc( 33% - 20px );
				margin: 77px 10px 341px 10px;

				span {
					display: block;
					text-align: left;
				}
				img { width: 100%; }
			}
		}

		.classInfo {
			width: 435px;
			font-size: 24px;
			margin: 0 auto 341px auto;

			h3 { margin-bottom: -30px; }
			h4 {
				font-weight: bold;
				margin-top: 65px;
			}
			button {
				margin-top: 50px;
				margin-bottom: 0;
			}
			span {
				letter-spacing: 0.08em;
				text-align: left;
				display: block;
				margin-top: 25px;
			}
		}

		.redInput {
			background: #8D182B;
		}

  }
}

#porfolioPage {
	main {
		.porfolioSec {
			background: #000;
			position: relative;
			padding-left: 65.5px;
			padding-right: 65.5px;
			text-align: left;
			img { display: block;}

			img:nth-child(1) {
				position: absolute;
				right: 0;
				width: 769px;
			}

			img:nth-child(2) {
				padding-top: 818px;
				width: 612px;
				margin: 0 auto;
			}

			img:nth-child(3) {
				display: inline-block;
				width: 395px;
				padding-top: 250px;
				margin-right: 15px;
			}
			img:nth-child(4) {
				width: 408px;
				padding-top: 250px;
				display: inline-block;
			}

			img:nth-child(5) {
				width: 66.18%;
				padding-top: 250px;
				display: inline-block;
				margin-right: 15px;
			}
			img:nth-child(6) {
				width: 22.03%;
				padding-top: 250px;
				display: inline-block;
			}

			img:nth-child(7) {
				width: 42.77%;
				padding-top: 250px;
				display: inline-block;
				margin-right: 15px;
			}
			img:nth-child(8) {
				width: 42.6%;
				display: inline-block;
				padding-top: 250px;
			}

			img:nth-child(9) {
				margin: 0 auto;
				width: 463px;
				padding-top: 250px;
			}

			img:nth-child(10), img:nth-child(11), img:nth-child(12), img:nth-child(13) {
				display: inline-block;
				width: calc(25% - 15px);
				padding-top: 250px;
				margin-left: 7.5px;
				margin-right: 7.5px;
			}

			img:nth-child(14),img:nth-child(15), img:nth-child(16) {
				display: inline-block;
				width: calc(33% - 15px);
				margin-left: 7.5px;
				margin-right: 7.5px;
				padding-top: 250px;
			}

			img:nth-child(17), img:nth-child(18), img:nth-child(19) {
				width: 418px;
				margin: 0 auto;
				padding-top: 250px;
			}

			div {
				display: flex;
				justify-content: center;
				padding: 200px 0;

				button {
					display: inline;
					margin: 0;
					background-color: transparent;
					box-shadow: 0 1px 8px #fff;
					color: #fff;
					text-shadow: 0 3px 15px #fff;
					width: 281px;

					&:last-child { margin-left: 88px; }
				}
			}
		}
	}
}

#blogPage, #Articles {
	header {
		height: calc( 100vh - 344px );
		margin-bottom: 0;
	}
	main {
		.blogBar {
			display: flex;
			justify-content: center;
			margin-bottom: 100px;

			input[type='radio'] { display: none;}
			label {
				padding: 12px 40px;
				border: 1px solid #D8D8D8;
				letter-spacing: 0.03em;
				font-size: 24px;
				cursor: pointer;

				&:not(:last-of-type) { border-right: none; }
			}
			input[type='radio']:checked + label {
				color: #fff;
				background-color: $NavdarkBlue;
			}
		}

		.articles {
			width: 1184px;
			height: 352px;
			background: #FFFFFF;
			border-radius: 10px;
			display: flex;
			margin: 0 auto 50px auto;
			text-align: left;
			letter-spacing: 0.05em;
			cursor: pointer;
			color: #000;

			&:last-child { margin-bottom: 200px; }

			img {
				width: 352px;
				height: 352px;
				border-radius: 10px;
			}

			h5 {
				font-size: 36px;
				padding: 50px 0 0 80px;
			}

			p {
				font-size: 24px;
				padding: 30px 39px 0 80px;
			}
		}
	}
}

#Articles {
	main {
		padding-top: 81px;
		margin-left: 43.5px;
		margin-right: 43.5px;
		letter-spacing: 0.05em;

		#articleImgs {
			text-align: center;
			margin-top: 55px;
			img {
				width: calc( 33% - 75px );
				margin-left: 37.5px;
				margin-right: 37.5px;
			}
		}

		.carouselInput { display: none; }

		h5 {
			font-size: 36px;
			padding: 45px 0 30px 37.5px;
		}

		p {
			font-size: 24px;
			padding: 0 37.5px;
		}

		.articleBtn {
			text-align: center;
			button {
				margin: 100px 44px 250px 44px;
				display: inline;
				width: 281px;
			}
		}

	}
}

@media screen and ( max-width: 1280px ) {
  #aboutPage {
    main {
      .getCase .freelanceImg .fadeIn span { margin-top: 95px; }
    }
  }

	#blogPage, #Articles {
		main {
			.articles {
				width: 920px;
				height: 302px;

				img {
					width: 302px;
					height: 302px;
				}
			}
		}
	}
}

@media screen and ( max-width: 1000px ) {
	#aboutPage, #BeginnerHandCoursePage, #freelancePage, #porfolioPage, #blogPage {
		main {
			h2 {
				font-size: 60px;
				margin-top: -66px;
				margin-bottom: 20px;
			}
		}
	}

  #aboutPage {
    main {
			.designSec img { width: calc(33% - 30px); }

      .getCase {
        margin-bottom: 110px;
        h3 {
          margin-bottom: 25px;
          margin-left: 28px;
        }

        .freelanceImg {
          .fadeIn {
            position: static;
            height: auto;
            background: transparent;

            span {
              margin: 25px auto 0 auto;
              width: 84vw;
              color: #000;
            }
            button {
              background-color: #fff;
              color: #000;
              -webkit-box-shadow: 4px 4px 12px -2px rgba(20%,20%,40%,0.5);
          	  -moz-box-shadow: 4px 4px 12px -2px rgba(20%,20%,40%,0.5);
          	  box-shadow: 4px 4px 12px -2px rgba(20%,20%,40%,0.5);
              margin-top: 55px;
              margin-bottom: 110px;
            }
          }
        }
      }

      .aboutPageLastBtn {
        button {
          display: block;
          margin: 0 auto 24px auto;
          &:last-child { margin-bottom: 100px; }
        }
      }
    }
  }


	#porfolioPage {
		main {
			.porfolioSec {
				padding: 0;

				img:not(:first-child) { margin-top: 50px; }

				img:nth-child(1) {
					position: static;
					width: 100%;
				}

				img:nth-child(2) {
					padding: 0;
					width: 100%;
				}

				img:nth-child(3) {
					display: block;
					width: 100%;
					padding: 0;
					margin-right: 0;
				}
				img:nth-child(4) {
					width: 100%;
					display: block;
					padding: 0;
				}

				img:nth-child(5) {
					width: 100%;
					padding: 0;
					display: block;
					margin-right: 0;
				}
				img:nth-child(6) {
					width: 100%;
					display: block;
					padding: 0;
				}

				img:nth-child(7) {
					width: 100%;
					padding: 0;
					display: block;
					margin-right: 0;
				}
				img:nth-child(8) {
					width: 100%;
					display: block;
					padding: 0;
				}

				img:nth-child(9) {
					width: 100%;
					padding: 0;
				}

				img:nth-child(10), img:nth-child(11), img:nth-child(12), img:nth-child(13), img:nth-child(14), img:nth-child(15), img:nth-child(16) {
					display: block;
					width: 100%;
					padding: 0;
				}

				img:nth-child(17), img:nth-child(18), img:nth-child(19) {
					width: 100%;
					padding: 0;
				}

				div {
					display: block;
					padding: 100px 0;

					button {
						display: block;
						margin: 0 auto;
						font-size: 20px;
						width: 191px;

						&:last-child {
							margin: 15px auto 0 auto;
						}
					}
				}
			}
		}
	}

	#blogPage, #Articles {
		main {
			.blogBar {
				margin-bottom: 30px;

				label {
					padding: 10px 30px;
					font-size: 20px;
				}
			}

			.articles {
				width: 775px;
				height: 252px;

				img {
					width: 252px;
					height: 252px;
				}

				h5 {
					font-size: 24px;
					padding: 50px 0 0 80px;
				}

				p {
					font-size: 20px;
					padding: 30px 39px 0 80px;
				}
			}
		}
	}

	#Articles {
		main {
			padding-top: 0;

			.articleBtn {
				margin-top: 100px;
				button {
					display: block;
          margin: 0 auto 24px auto;
          &:last-child { margin-bottom: 100px; }
				}
			}
		}
	}
}

@media screen and ( max-width: 850px ) {
  #aboutPage, #BeginnerHandCoursePage, #freelancePage, #porfolioPage, #blogPage {
    header {
      height: auto;
      padding-top: 150px;
      margin-bottom: 140px;

      h1 { font-size: 64px; }
      p { font-size: 30px; }
    }

    main {
      text-align: left;

      .listBlock {margin-bottom: 100px;}

      h3 {
				font-size: 24px;
				margin-left: 28px;
			}
      li {
        position: relative;
        font-size: 20px;
        margin: 10px 0 0 19px;

        &:first-child { margin-top: 25px; }
      }
      .diamond { top: 2px; }

    }
  }

// aboutPage
  #aboutPage {
    main {
      .andrea {
        margin-bottom: 64px;
        li { width: calc( 100vw - 75px ); }
      }

      .designSec {
        margin: 0 5px;
        h3 {
          margin-bottom: 5px;
          margin-left: 23px;
        }
        > span { margin-left: 23px; }

        div { margin-top: 11px;}

        img {
          width: calc(25% - 30px);
          margin: 0 15px 20.61px 15px;
        }
      }

      .designSec img { width: calc(50% - 30px); }
      .getCase { margin-top: 100px; }
    }
  }

	#BeginnerHandCoursePage {
	  main {
	    .listBlock { margin-bottom: 125px; }
			.parallax img { width: 344.7px; }

			.parallax {
				width: 344.7px;
				top: -100px;
				margin-left: 19%;

				div {
					top: 15px;

					p {	font-size: 16px; }
				}
	    }

	    .suitFor {
				+ .parallax p {
					width: 207px;
					margin-top: 80px;
				}
			}
			.learnWhat {
				+ .parallax p {
					width: 207px;
					margin-top: 240px;
				}
			}
			.whyChose {
				+ .parallax p {
					width: 225px;
					margin-top: 340px;
				}
			}

			.student {
				+ .parallax p {
					width: 207px;
					margin-top: 770px;
				}
			}

			.classInfo {
				+ .parallax p {
					width: 191px;
					margin-top: 970px;
				}
			}

			.student {
				flex-direction: column;
				margin-left: 28px;
				margin-right: 28px;
				margin-bottom: 125px;
				div {
					width: 424px;
					margin: 50px auto 0 auto;
					&:first-child { margin-top: 25px; }

					span {
						font-size: 14px;
						margin-bottom: 5px;
					}
				}
			}

			.classInfo {
				width: 430px;
				font-size: 20px;
				margin: 0;
				margin-bottom: 125px;

				h3 { margin-bottom: 0; }
				h4 {
					margin-top: 25px;
					margin-left: 20px;
				}
				button {
					margin-top: 45px;
					margin-bottom: 45px;
				}
				span {
					margin-top: 5px;
					margin-left: 20px;
				}
			}

	  }
	}

	#blogPage, #Articles {
		main {
			.blogBar {
				label {
					padding: 7px 15px;
					font-size: 20px;
				}
			}

			.articles {
				width: 625px;
				height: 202px;

				img {
					width: 202px;
					height: 202px;
				}

				h5 { padding-top: 20px;}

				p { padding-top: 8px; }
			}
		}
	}


	#Articles {
		main {
			margin-left: 10px;
			margin-right: 10px;

			#articleImgs {
				img {
					margin-left: 37.5px;
					margin-right: 37.5px;
				}
			}

			h5 {
				font-size: 24px;
				padding: 43px 0 10px 26px;
			}

			p {
				font-size: 20px;
				padding: 0 26px;
			}
		}
	}
}

@media screen and ( max-width: 675px ) {
	body { overflow-x: hidden;}
  #aboutPage, #BeginnerHandCoursePage, #freelancePage, #porfolioPage, #blogPage {
    button {
      width: 128px;
      height: 48px;
      border-radius: 6px;
      font-size: 20px;
    }
  }
  #aboutPage {
    main {
      .designSec img {
        width: calc(100% - 30px);
        margin-bottom: 30px;
      }

      .getCase .freelanceImg .fadeIn span { font-size: 20px; }
			.getCase .freelanceImg .fadeIn button, .aboutPageLastBtn button { width: 191px; }
    }
  }

	#blogPage, #Articles {
		header {
			height: calc( 100vh - 344px );
			margin-bottom: 0;
		}
		main {
			.blogBar {
				position: relative;
				width: 377px;
				height: 50px;
				margin-left: auto;
				margin-right: auto;

				label {
					padding: 7px 12.5px;

					&:nth-of-type(3) { padding-left: 14px; }
					&:nth-of-type(4), &:nth-of-type(5) { border-left: none; }
					&:nth-of-type(3), &:nth-of-type(4), &:nth-of-type(5) { border-right: none; }
					&:nth-of-type(1), &:nth-of-type(2) {
						position: absolute;
						display: none;
					}
					&:nth-of-type(1) {
						text-align: center;
						border-right: 1px solid #D8D8D8;
						top: 49px;
						width: 374px;
						padding: 12px 0;
					}
					&:nth-of-type(2) {
						text-align: center;
						border-right: 1px solid #D8D8D8;
						top: 103px;
						width: 374px;
						padding: 12px 0;
					}
				}

				div {
					width: 50px;
					border: 1px solid #D8D8D8;
					border-left: none;
				}
				.inputTri {
					cursor: pointer;
					position: absolute;
					top: 14px;
					right: 15px;
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 19.1px 11px 0 11px;
					border-color: $NavdarkBlue transparent transparent transparent;
					transition: all 0.5s ease;
				}
				.reverse { transform: rotate(-180deg); }
			}

			.articles {
				width: 315px;
				height: 414px;
				display: flex;
				flex-direction: column;

				img {
					width: 315px;
					height: 247px;
				}
				h5 { padding: 20px 0 0 18px; }
				p { padding: 8px 18px 24px 18px; }
			}
		}
	}

	#Articles {
		main {
			margin-left: 0;
			margin-right: 0;

			#articleImgs {
				margin-top: 0;
				display: flex;
				position: relative;
				height: 100vw;
				transition: all 0.5s ease;

				img {
					width: 100%;
					margin-left: 0;
					margin-right: 0;
				}
			}

			.imgsSecWithRadio { position: relative; }
			.carouselInput {
				display: block;
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
				bottom: -23px;

				ul {
					 display: flex;

					 li {
	 					border: 1px solid #4A4A4A;
	 					width: 14px;
	 					height: 14px;
	 					border-radius: 50%;
						cursor: pointer;
						transition: all 0.5s ease;
	 				}
	 				li:not(:last-child) { margin-right: 15px; }
					li.selected { background-color: #4A4A4A; }
				}
			}

			.articleBtn {
				button {
					width: 191px;
					font-size: 20px;
				}
			}

		}
	}
}


@media screen and ( max-width: 480px ) {
  #aboutPage, #BeginnerHandCoursePage, #freelancePage, #porfolioPage, #blogPage {
    header {
      h1 { font-size: 36px; }
      p { font-size: 18px; }
    }

    main {
      text-align: left;

      li {
        margin: 0 0 0 19px;
        line-height: 40px;

        &:first-child { margin-top: 25px; }
      }
      .diamond { top: 5px; }
    }

  }

  #aboutPage {
    main {
      .andrea {
        li { width: calc(100vw - 75px); }
      }

      .whyChose {
        h3 { margin-left: 28px;}
        li { width: 309px; }
      }
      .designSec > span { font-size: 14px; }
    }
  }

	#BeginnerHandCoursePage {
	  main {

	    .suitFor li, .learnWhat li { width: 327px; }
			.whyChose li { width: 348px; }
			.student {
				+ .parallax p {
					margin-top: 730px;
				}
			}
			.classInfo {
				+ .parallax p {
					margin-top: 930px;
				}
			}

			.student div { width: 319px; }

			.classInfo {
				width: 100%;
				span {
					width: 344px;
				}
			}

			.redInput {
				background: #8D182B;
			}

	  }
	}

}
